* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("sd n 2 way petai.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  width: 800px;
  height: 425px;
  background: #ecf0f1;
  border-radius: 20px;
  opacity: 0.9;
}
.left_side {
  position: absolute;
  width: 250px;
  height: 400px;
  background: #00d2d3;
  border-radius: 10px 0 0 10px;
}
.left_side h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #ecf0f1;
  font-weight: 900;
  letter-spacing: 2px;
}
.p_g_t {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 30vh;
}
.p_g_t h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
}
.content .right_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70vw;
  min-height: 50vh;
}
.right_side input {
  margin: 10px 0;
  width: 300px;
  height: 30px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
}
.right_side button {
  width: 150px;
  height: 40px;
  background: #00d2d3;
  color: #ecf0f1;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: medium;
  font-weight: 900;
  border-radius: 30px;
  cursor: pointer;

  /* Animasi hover */
  transition: transform 0.2s ease-in-out; /* Efek transformasi halus */

  &:hover {
    transform: scale(1.05); /* Memperbesar tombol sedikit saat hover */
    background: #00c0c1; /* Warna background sedikit lebih gelap */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan halus */
  }
}
.result {
  position: absolute;
  bottom: 133px;
  width: 250px;
  height: 50px;
  background: #01a3a4;
  border-radius: 0 0 0 10px;
}
.result h2 {
  text-align: center;
  line-height: 50px;
  font-size: 1.3rem;
  color: #ecf0f1;
  font-weight: 900;
  letter-spacing: 2px;
}
